.tr1 td, .th1 {
    padding: 16px;
    border: 2px solid white;
}

.th1 {
    text-transform:uppercase;
    color: #768399;
    font-size: 0.75em;
    padding: 6px;
}

.name {
    text-transform: capitalize; 
}

.tr1:hover {
    background: #e1e3e8;
    cursor: pointer;
}
